# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [12]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Databases/weather_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df

,weather_data,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Duki,PK,30.1541,68.5728,78.78,14,35,3.58,scattered clouds
1,1,Provideniya,RU,64.3833,-173.3000,31.84,89,100,15.82,overcast clouds
2,2,Kaeo,NZ,-35.1000,173.7833,62.33,60,8,10.16,clear sky
3,3,Ushuaia,AR,-54.8000,-68.3000,38.86,70,0,2.30,clear sky
4,4,Sola,VU,-13.8833,167.5500,83.07,84,75,0.00,broken clouds
...,...,...,...,...,...,...,...,...,...,...
680,680,Anage,BR,-14.6122,-41.1356,62.35,94,1,1.54,clear sky
681,681,Ilam,NP,26.9167,87.9167,73.22,52,0,6.08,clear sky
682,682,Baglan,AF,36.1307,68.7083,69.69,38,100,20.07,light rain
683,683,Keetmanshoop,NaN,-26.5833,18.1333,80.80,26,0,9.60,clear sky
684,684,Den Helder,NL,52.9599,4.7593,55.38,74,100,9.22,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [13]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like on your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the minimum temperature you would like on your trip?"))

What is the minimum temperature you would like on your trip?70
What is the minimum temperature you would like on your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [14]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,weather_data,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Duki,PK,30.1541,68.5728,78.78,14,35,3.58,scattered clouds
4,4,Sola,VU,-13.8833,167.5500,83.07,84,75,0.00,broken clouds
13,13,Carnarvon,AU,-24.8667,113.6333,74.32,63,0,13.47,clear sky
14,14,Faanui,PF,-16.4833,-151.7500,77.38,79,29,10.22,light rain
15,15,Atar,MR,20.5169,-13.0499,83.10,15,44,7.58,scattered clouds
16,16,Aitape,PG,-3.1374,142.3475,84.07,72,90,4.65,light rain
18,18,Trairi,BR,-3.2778,-39.2689,77.85,81,55,13.18,broken clouds
19,19,Manama,BH,26.2154,50.5832,89.58,55,0,2.30,clear sky
21,21,San Miguel,SV,13.4833,-88.1833,78.46,100,20,2.30,few clouds
24,24,Barhi,IN,23.9000,80.8000,80.19,48,0,4.99,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [26]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.isnull().sum()
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,weather_data,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Duki,PK,30.1541,68.5728,78.78,14,35,3.58,scattered clouds
4,4,Sola,VU,-13.8833,167.5500,83.07,84,75,0.00,broken clouds
13,13,Carnarvon,AU,-24.8667,113.6333,74.32,63,0,13.47,clear sky
14,14,Faanui,PF,-16.4833,-151.7500,77.38,79,29,10.22,light rain
15,15,Atar,MR,20.5169,-13.0499,83.10,15,44,7.58,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [29]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()


# Display sample data
hotel_df.head(10)

          City Country  Max Temp Weather Description      Lat       Lng
0         Duki      PK     78.78    scattered clouds  30.1541   68.5728
4         Sola      VU     83.07       broken clouds -13.8833  167.5500
13   Carnarvon      AU     74.32           clear sky -24.8667  113.6333
14      Faanui      PF     77.38          light rain -16.4833 -151.7500
15        Atar      MR     83.10    scattered clouds  20.5169  -13.0499
16      Aitape      PG     84.07          light rain  -3.1374  142.3475
18      Trairi      BR     77.85       broken clouds  -3.2778  -39.2689
19      Manama      BH     89.58           clear sky  26.2154   50.5832
21  San Miguel      SV     78.46          few clouds  13.4833  -88.1833
24       Barhi      IN     80.19           clear sky  23.9000   80.8000

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [30]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Duki,PK,78.78,scattered clouds,30.1541,68.5728,
4,Sola,VU,83.07,broken clouds,-13.8833,167.5500,
13,Carnarvon,AU,74.32,clear sky,-24.8667,113.6333,
14,Faanui,PF,77.38,light rain,-16.4833,-151.7500,
15,Atar,MR,83.10,scattered clouds,20.5169,-13.0499,
...,...,...,...,...,...,...,...
672,Parkes,AU,71.35,light rain,-33.1333,148.1833,
675,Ondjiva,AO,80.60,scattered clouds,-17.0667,15.7333,
676,Coahuayana,MX,75.65,overcast clouds,18.7333,-103.6833,
677,Kashan,IR,70.50,clear sky,33.9831,51.4364,
681,Ilam,NP,73.22,clear sky,26.9167,87.9167,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [31]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [32]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Duki,PK,78.78,scattered clouds,30.1541,68.5728,Ù…Ø§Ø³Ù¹Ø± Ø±Ø´ÛŒØ¯ Ù…Ø±Ø­ÙˆÙ…
4,Sola,VU,83.07,broken clouds,-13.8833,167.5500,Leumerus Bungalows
13,Carnarvon,AU,74.32,clear sky,-24.8667,113.6333,Hospitality Carnarvon
14,Faanui,PF,77.38,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Atar,MR,83.10,scattered clouds,20.5169,-13.0499,Oumou Elghoura
16,Aitape,PG,84.07,light rain,-3.1374,142.3475,
18,Trairi,BR,77.85,broken clouds,-3.2778,-39.2689,janelas do mar
19,Manama,BH,89.58,clear sky,26.2154,50.5832,Al Safir Hotel
21,San Miguel,SV,78.46,few clouds,13.4833,-88.1833,Excalibur
24,Barhi,IN,80.19,clear sky,23.9000,80.8000,Happy ka ghar

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [34]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.isnull().sum()
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Duki,PK,78.78,scattered clouds,30.1541,68.5728,Ù…Ø§Ø³Ù¹Ø± Ø±Ø´ÛŒØ¯ Ù…Ø±Ø­ÙˆÙ…
4,Sola,VU,83.07,broken clouds,-13.8833,167.5500,Leumerus Bungalows
13,Carnarvon,AU,74.32,clear sky,-24.8667,113.6333,Hospitality Carnarvon
14,Faanui,PF,77.38,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Atar,MR,83.10,scattered clouds,20.5169,-13.0499,Oumou Elghoura

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [36]:
# Set the file name.
output_data_file = "WeatherPy_vacation"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="hotel_data")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [39]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [40]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Ù…Ø§Ø³Ù¹Ø± Ø±Ø´ÛŒØ¯ Ù…Ø±Ø­ÙˆÙ…</dd>\n<dt>City</dt><dd>Duki</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.78 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Leumerus Bungalows</dd>\n<dt>City</dt><dd>Sola</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 83.07 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 74.32 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 77.38 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Oumou Elghoura</dd>\n<dt>City</dt><dd>Atar</dd>\n<dt>Country</dt><dd>MR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 83.1 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Aitape</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>light rain and 84.07 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>janelas do mar</dd>\n<dt>City</dt><dd>Trairi</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.85 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Al Safir Hotel</dd>\n<dt>City</dt><dd>Manama</dd>\n<dt>Country</dt><dd>BH</dd>\n<dt>Current Weather</dt><dd>clear sky and 89.58 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Excalibur</dd>\n<dt>City</dt><dd>San Miguel</dd>\n<dt>Country</dt><dd>SV</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.46 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Happy ka ghar</dd>\n<dt>City</dt><dd>Barhi</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.19 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [41]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   30.1541   68.5728
4  -13.8833  167.5500
13 -24.8667  113.6333
14 -16.4833 -151.7500
15  20.5169  -13.0499
16  -3.1374  142.3475
18  -3.2778  -39.2689
19  26.2154   50.5832
21  13.4833  -88.1833
24  23.9000   80.8000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [43]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))